sudo: required

dist: trusty

matrix:
  include:
    # - os: linux
    #   language: cpp
    #   env: 
    #     - BUILD_NAME=TRUSTY_PYTHON_34
    #     - SUDO=sudo
    #     - PYTHON_VERSION=3.4
    - os: linux
      language: cpp
      services: docker
      env:
        - BUILD_NAME=XENIAL_PYTHON_27
        - DOCKER_FILE="ubuntu-xenial"
        - PYTHON_VERSION=2.7
    - os: linux
      language: cpp
      services: docker
      env:
        - BUILD_NAME=XENIAL_PYTHON_35
        - DOCKER_FILE="ubuntu-xenial"
        - PYTHON_VERSION=3.5
    - os: linux
      language: cpp
      services: docker
      env:
        - BUILD_NAME=BIONIC_PYTHON_27
        - DOCKER_FILE="ubuntu-bionic"
        - PYTHON_VERSION=2.7
    - os: linux
      language: cpp
      services: docker
      env:
        - BUILD_NAME=BIONIC_PYTHON_36
        - DOCKER_FILE="ubuntu-bionic"
        - PYTHON_VERSION=3.6
    - os: osx
      osx_image: xcode9.3
      compiler: clang
      env:
        - BUILD_NAME=OSX_PYTHON_37
        - PYTHON_VERSION=3.7

install:
  - if [ -n "$DOCKER_FILE" ]; then
      docker build -t "$DOCKER_FILE" -f ".ci/docker/$DOCKER_FILE" .;
      docker run -itd -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR --env-file .ci/docker/env.list --name dartpy-docker "$DOCKER_FILE";
      docker exec dartpy-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/install.sh";
    else
      '.ci/install.sh';
    fi

script:
  - if [ -n "$DOCKER_FILE" ]; then
      docker exec dartpy-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/script.sh";
    else
      '.ci/script.sh';
    fi

after_failure: 
  - cat Testing/Temporary/LastTest.log
  - cat Testing/Temporary/LastTestsFailed.log
