language: python

sudo: required

dist: trusty

python:
  - "2.7"
  - "3.4"

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then 'ci/install_linux.sh'; fi
  - if [ "$TRAVIS_OS_NAME" = "osx"   ]; then 'ci/install_macos.sh'; fi

script:
  - mkdir build
  - cd build
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then cmake .. -DDARTPY_PYTHON_VERSION=$TRAVIS_PYTHON_VERSION; fi
  - if [ "$TRAVIS_BRANCH" != "*-binding" ]; then make binding; fi
  - make -j
  - sudo make install

after_failure: 
  - cat Testing/Temporary/LastTest.log
  - cat Testing/Temporary/LastTestsFailed.log
